<h1 class='text-center mb-3'>{{title}}</h1>

<form action='/api/members' method='POST' class='mb-5'>
  <div class='mb-3'>
    <label for='name'>Name</label>
    <input type='text' name='name' class='form-control' />
  </div>
  <div class='mb-4'>
    <label for='email'>Email</label>
    <input type='text' name='email' class='form-control' />
  </div>
  <div class='d-grid'>
    <input type='submit' value='Register' class='btn btn-primary d-grid' />
  </div>
</form>

<h4>Attendance List</h4>
<ul class='list-group'>
  {{#each members}}
    <li class='list-group-item'>
      <div class='row'>
        <div class='col'>
          {{this.name}}
        </div>
        <div class='col'>
          {{this.email}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>